# Makefile for libgeneric_request
# Copyright (C) 2016 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = generic_request

LIB_BOOST_LIB_NAMES := system

LIB_SRCC = \
        request_decoder.cpp \
        request.cpp \
        parser.cpp \
        str_helper.cpp \

LIB_EXT_LIB_NAMES = \
	utils
